@{
    ViewData["Title"] = "Home Page";
}

@ViewData["Message"] <br />

@ViewBag.Msg <br />

@ViewBag.Data <br />

@ViewBag.Data1 <br />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @Html.Label("Student Name")
    @Html.TextBox("txtStdName")
    @Html.
</div>
